### First Follow

In [62]:
import os
import pandas as pd
import numpy as np

In [63]:
def checar_dictionario(key, dict):
    check = key in dict
    if check:
        if len(dict[key])>0:
            return True
    return False

In [64]:
def print_dict(dictionary):
    for key, value in dictionary.items():
        print(key + " : " + listToString(value))

In [65]:
file_path = "lib/input/"

try:
    file_name = file_name_externo
except:
    file_name = "exemplo1.txt"
try:
    codigo_entrada = open(file_path + file_name, "r", encoding="utf8").read()
except:
    codigo_entrada = """S -> aSbc | D
D -> dD | d"""

In [66]:
simbolo_inicial = codigo_entrada[0]

In [67]:
codigo_entrada = codigo_entrada.replace('id','i')
codigo_entrada = codigo_entrada.replace('num','n')
codigo_entrada = codigo_entrada.replace(':=','=')

In [68]:
import re

In [69]:
qtd_linhas = codigo_entrada.count("\n") + 1
qtd_linhas

5

In [70]:
### Encontrar
regex_terminais = r"[\[\]a-z+:=*-/;]"
matches = re.finditer(regex_terminais, codigo_entrada.replace("->"," "), re.MULTILINE)
variaveis_terminais = []
for match in matches:
    variaveis_terminais.append(match.group())

variaveis_terminais = list(dict.fromkeys(variaveis_terminais))

In [71]:
### Adicionar num
cond_num_1 = 'n' in variaveis_terminais
cond_num_2 = 'u' in variaveis_terminais
cond_num_3 = 'm' in variaveis_terminais

if (cond_num_1 and cond_num_2 and cond_num_3):
    variaveis_terminais.remove('n')
    variaveis_terminais.remove('u')
    variaveis_terminais.remove('m')
    variaveis_terminais.append('n')

### Adicionar id
cond_id_1 = 'i' in variaveis_terminais
cond_id_2 = 'd' in variaveis_terminais

if (cond_id_1 and cond_id_2):
    variaveis_terminais.remove('i')
    variaveis_terminais.remove('d')
    variaveis_terminais.append('i')

### Adicionar :=
cond_ponto_1 = ':' in variaveis_terminais
cond_ponto_2 = '=' in variaveis_terminais

if (cond_ponto_1 and cond_ponto_2):
    variaveis_terminais.remove(':')
    variaveis_terminais.remove('=')
    variaveis_terminais.append('=')

In [72]:
variaveis_terminais

['b', 'a', 'd', 'g', 'h']

In [73]:
variaveis_terminais

['b', 'a', 'd', 'g', 'h']

In [74]:
# regex_nao_terminais = r"[A-Z]"
regex_nao_terminais = r".+?(?=->)"
matches = re.finditer(regex_nao_terminais, codigo_entrada, re.MULTILINE)
variaveis_nao_terminais = []
for match in matches:
    variaveis_nao_terminais.append(match.group().strip())

variaveis_nao_terminais
# variaveis_nao_terminais = list(dict.fromkeys(variaveis_nao_terminais))

['S', 'A', 'B', 'C']

In [75]:
variaveis_nao_terminais

['S', 'A', 'B', 'C']

In [76]:
variaveis_nao_terminais

['S', 'A', 'B', 'C']

In [77]:
production = dict()

In [78]:

for line in codigo_entrada.splitlines():
    left = line.split('->')[0].strip() 
    right = line.split('->')[1].strip()

    # print(f"FIRST({left}) = ", end="")
    right
    production[left] = []

    for idx, right_part  in enumerate(right.split("|")): 
 
        production[left].append(right_part.strip())
    #     if idx > 0:
    #         print(f" + FIRST({right_part.strip()})", end="")
    #     else:
    #         print(f"FIRST({right_part.strip()})", end="")        

    # print("")

In [79]:
production

{'S': ['ACB', 'CbB', 'Ba'],
 'A': ['da', 'BC'],
 'B': ['g', 'λ'],
 'C': ['h', 'λ']}

In [80]:
## Criar dicionário de first
first_dict = production.copy()
follow_dict = production.copy()
follow_position = production.copy()
for elem in first_dict:
    first_dict[elem] = []
    follow_dict[elem] = []
    follow_position[elem] = []

In [81]:
production

{'S': ['ACB', 'CbB', 'Ba'],
 'A': ['da', 'BC'],
 'B': ['g', 'λ'],
 'C': ['h', 'λ']}

In [82]:
first_dict

{'S': [], 'A': [], 'B': [], 'C': []}

In [83]:
follow_dict

{'S': [], 'A': [], 'B': [], 'C': []}

In [84]:
def merge_lists(elem1, elem2):
    if type(elem1 != list):
        elem1 = list(elem1)
    if type(elem2 != list):
        elem2 = list(elem2)
    return list(set(elem1 + elem2))

In [85]:
lista_first_por_elem = []

def first_set(key):
    ### Checar se já existe no dicionário 
    
    resultado = []

    if len(key) == 1 and key in variaveis_nao_terminais:
        if (len(first_dict[key]) != 0):
            return first_dict[key]
            
        value = production[key]
    else:
        value = [key]  

    for elem in value:
        saida = []
        if (len(elem) == 1 and elem == key):
            saida = []
        if elem == 'λ':
            saida = 'λ'
        if elem[0] in variaveis_terminais:
            saida = elem[0]
        if elem[0] in variaveis_nao_terminais:
            if (len(first_dict[elem[0]]) != 0 ):
                check = first_dict[elem[0]]
            else:
                check = first_set(elem[0])
            ### CHecar se o first já foi calculado FIRST T
            if 'λ' not in check:
                saida = first_dict[elem[0]]
            else:       
                if(len(elem) > 1):
                    lista_sem_vazio =  [value for value in first_dict[elem[0]] if value != 'λ']
                    
                    if (elem[1:] == variavel_da_vez):
                        saida = lista_sem_vazio
                    else:
                        # saida = lista_sem_vazio.append(first_set(elem[1:]))
                        saida = merge_lists(lista_sem_vazio, first_set(elem[1:]))
                else:
                    saida = first_dict[elem[0]]
        
        # resultado.append(saida)
        resultado = merge_lists(resultado,saida)
        lista_first_por_elem.append([key,elem,saida])
      
    first_dict[key] = resultado
    return resultado

In [86]:
for variavel in production:
    variavel_da_vez = variavel
    try:
        first_set(variavel)
    except Exception as e:
        print("Erro First: ", e)
        print("Variável: ", variavel_da_vez)

In [87]:
production

{'S': ['ACB', 'CbB', 'Ba'],
 'A': ['da', 'BC'],
 'B': ['g', 'λ'],
 'C': ['h', 'λ']}

In [88]:
follow_dict

{'S': [], 'A': [], 'B': [], 'C': []}

In [89]:
lista_follow_por_elem = []

def follow_set(key):
  resultado = []
  ### Achar elemento que contem key
  for chave, valor in production.items():
    for elem in valor:
      saida = []
      if key == simbolo_inicial:
          saida = "$"
      if key in elem:
        ### Achou elemento que possui a key     
        ### Se elemento estiver na posição final    
        indice = elem.index(key)

        palavra_restante = elem[indice + 1:]

        if palavra_restante == '':
            
          if checar_dictionario(chave,follow_dict):
                saida = follow_dict[chave]
          else:
            if key == chave:
                saida = [] 
            else:
                saida = follow_set(chave)
        else:
            if checar_dictionario(palavra_restante,first_dict):
                saida = first_dict[palavra_restante]
            else:
                saida = first_set(palavra_restante)


      resultado = merge_lists(resultado,saida)     
      if 'λ' in resultado: 
          resultado.remove('λ')
          resultado = merge_lists(resultado,follow_set(chave))
           

  follow_dict[key] = resultado
  lista_follow_por_elem.append([key,elem,saida])
  
  return resultado

In [90]:
for variavel in production:
    variavel_da_vez = variavel
    try:
        follow_set(variavel)
    except Exception as e:
        print("Erro Follow: ", e)
        print("Variável: ", variavel_da_vez)

In [91]:
### Remover chaves de tamanho maior que um

lista_chaves_desnecessarias = [key for key in first_dict if len(key) > 1 or key in variaveis_terminais]
[first_dict.pop(key) for key in lista_chaves_desnecessarias]

[['λ', 'g', 'h'], ['b'], ['a']]

In [92]:
df = pd.DataFrame(columns=['Variavel', 'Producao', 'First', 'Follow'])

In [93]:
df["Variavel"] = variaveis_nao_terminais

In [94]:
def listToString(list):
    str = '{'
    for elem in list:
        str = str + elem + ','

    str = str[:-1] + '}'
    return str

In [95]:
for key, value in production.items():
    df.loc[df['Variavel'] == key, 'Producao'] = listToString(value)

In [96]:
for key, value in first_dict.items():
    df.loc[df['Variavel'] == key, 'First'] = listToString(value)

In [97]:
for key, value in follow_dict.items():
    df.loc[df['Variavel'] == key, 'Follow'] = listToString(value)

In [98]:
nome_arquivo_saida = f'lib/output/{file_name[:-3]}csv'
try:
    df.to_csv(nome_arquivo_saida, index = False)
except:
    print("Não pode salvar aquivo de saída")

In [99]:
df

  Variavel      Producao          First     Follow
0        S  {ACB,CbB,Ba}  {a,λ,b,g,d,h}        {$}
1        A       {da,BC}      {λ,g,d,h}    {g,$,h}
2        B         {g,λ}          {λ,g}  {g,a,$,h}
3        C         {h,λ}          {λ,h}  {h,g,$,b}

#### Primeira Tabela Resultante

In [100]:
colunas = variaveis_terminais.copy()
colunas.insert(0,'M(V,T)')

In [101]:
df_1 = pd.DataFrame(columns=colunas)
df_1['M(V,T)'] = variaveis_nao_terminais
df_1.index = df_1['M(V,T)']

In [102]:
df_1

       M(V,T)    b    a    d    g    h
M(V,T)
S           S  NaN  NaN  NaN  NaN  NaN
A           A  NaN  NaN  NaN  NaN  NaN
B           B  NaN  NaN  NaN  NaN  NaN
C           C  NaN  NaN  NaN  NaN  NaN

In [103]:
print_dict(production)

S : {ACB,CbB,Ba}
A : {da,BC}
B : {g,λ}
C : {h,λ}

In [104]:
### Todos as produções vão para seu FIRST
### As Vazio vão para o follow

In [105]:
### Tratar casos onde a produção é vazia -> Usar elementos do follow

for row in lista_first_por_elem:
    if 'λ' in row[1]:
        lista_follow = follow_set(row[0])
        lista_follow = [elem for elem in lista_follow if elem not in first_dict[row[0]]]
        lista = merge_lists(row[2],lista_follow)        
        row[2] = [elem for elem in lista if elem != 'λ']
    else:
        if 'λ' in row[2]:
            lista_follow = follow_set(row[0])
            lista_follow = [elem for elem in lista_follow if elem not in first_dict[row[0]]]
            lista = merge_lists(row[2],lista_follow)        
            row[2] = [elem for elem in lista if elem != 'λ']
        

### Eliminar Variaves Não Terminais Erradas

lista_table = [elem for elem in lista_first_por_elem if elem[0] in variaveis_nao_terminais]

In [106]:
for elem in lista_table:
    for coluna in elem[2]:
        df_1.loc[elem[0], coluna] = elem[0] + "->" + elem[1]

In [107]:
### Formatar

df_1 = df_1.fillna('-')
df_1

       M(V,T)       b      a       d      g       h       $
M(V,T)
S           S  S->CbB  S->Ba  S->ACB  S->Ba  S->CbB  S->ACB
A           A       -      -   A->da  A->BC   A->BC   A->BC
B           B       -   B->λ       -   B->g    B->λ    B->λ
C           C    C->λ      -       -   C->λ    C->h    C->λ

In [48]:
#### Tabela de Verificação
palavra = 'dahg'

In [49]:
def juntar_lista(lista):
    saida = ''
    for elem in lista:
        saida = saida + elem
    return saida

In [160]:
df_2 = pd.DataFrame(columns=['Pilha','Entrada','Producao'])

lista_pilha = ['$']
lista_entrada = ['$']

df_2.loc[0] = [juntar_lista(lista_pilha),juntar_lista(lista_entrada),simbolo_inicial]


i = 1
lista_pilha.insert(len(lista_pilha),simbolo_inicial)
lista_entrada.insert(0,palavra)

### Checar se o ultimo elemento da pilha, gera o primeiro da entrada
elemento_analisado = lista_pilha[-1][-1]
elemento_entrada = lista_entrada[0][0]

producao = df_1.loc[elemento_analisado][elemento_entrada]
condicao = len(producao) > 1

i = 2

df_2.loc[i] = [juntar_lista(lista_pilha),juntar_lista(lista_entrada),producao]

string_entrada = producao.split('->')[-1]
lista_pilha.pop()
lista_pilha.insert(len(lista_pilha),string_entrada[::-1])

elemento_analisado = lista_pilha[-1][-1]
elemento_entrada = lista_entrada[0][0]

### Checar se pode ser retirado algum elemento da entrada
if (elemento_analisado == elemento_entrada):
    lista_pilha.pop()
    lista_entrada[0] = lista_entrada[0][1:]
# # lista_entrada.insert(0,palavra)
producao = df_1.loc[elemento_analisado][elemento_entrada]
condicao = len(producao) > 1

i = 3

df_2.loc[i] = [juntar_lista(lista_pilha),juntar_lista(lista_entrada),producao]

string_entrada = producao.split('->')[-1]
print(string_entrada)
lista_pilha[-1] = lista_pilha[-1][:-1]
# lista_pilha.insert(len(lista_pilha),string_entrada[::-1])

# elemento_analisado = lista_pilha[-1][-1]
# elemento_entrada = lista_entrada[0][0]

# ### Checar se pode ser retirado algum elemento da entrada
# if (elemento_analisado == elemento_entrada):
#     lista_pilha.pop()
#     lista_entrada[0] = lista_entrada[0][1:]
# # # lista_entrada.insert(0,palavra)
# producao = df_1.loc[elemento_analisado][elemento_entrada]
# condicao = len(producao) > 1

df_2

da

  Pilha Entrada Producao
0     $       $        S
2    $S   dahg$   S->ACB
3  $BCA   dahg$    A->da

In [155]:
merge_lists(['$'],['BCA'])

['BCA', '$']

In [161]:
lista_pilha

['$', 'BC']

In [152]:
lista_pilha

['$', 'BCA']

In [141]:
lista_pilha[-1][-1]

'A'

In [137]:
elemento_analisado

'BCA'

In [135]:
lista_entrada[0]

'ahg'

In [134]:
lista_entrada[0] = lista_entrada[0][1:]

In [129]:
lista_pilha

['$', 'BCA']

In [118]:
elemento_analisado = lista_pilha[-1]
elemento_entrada = lista_entrada[0][0]

condicao = len(df_1.loc[elemento_analisado][elemento_entrada]) > 1

In [108]:
df_1[lista_pilha[-1]]

KeyError: 'S'

In [61]:
df_1[df_1['M(V,T)'] == lista_pilha[-1]]

  M(V,T)       b      a       d      g       h       $
0      S  S->CbB  S->Ba  S->ACB  S->Ba  S->CbB  S->ACB

In [1017]:
lista_entrada[0][0]

'd'

In [1018]:
cond = df_1['M(V,T)'] == simbolo_inicial
producao = df_1[cond][lista_entrada[0][0]]
producao

0    S->ACB
Name: d, dtype: object

In [999]:
df_2 = pd.DataFrame(columns=['Pilha','Entrada','Producao'])

lista_pilha = ['$']
lista_entrada = ['$']

pilha = [p for p in lista_pilha]
df_2.loc[0] = ['$','$',simbolo_inicial]

#passo1

i = 0

while range(0,10):

    lista_pilha

    pilha_anterior = df_2['Pilha'][indice]
    entrada_anterior = df_2['Entrada'][indice]

    if i == 0:
        pilha = pilha_anterior + simbolo_inicial
    else:
        pilha = 
    entrada = palavra + entrada_anterior


cond = df_1['M(V,T)'] == 'S'
producao = df_1[cond][entrada[0]][0]

if producao == '-':
    break
else:


df_2.loc[indice + 1] = [pilha,entrada,producao]

df_2

  Pilha Entrada Producao
0     $       $        S
1    $S   dahg$   S->ACB

In [1000]:
df_1

  M(V,T)       b      a       d      g       h       $
0      S  S->CbB  S->Ba  S->ACB  S->Ba  S->CbB  S->ACB
1      A       -      -   A->da  A->BC   A->BC   A->BC
2      B       -   B->λ       -   B->g    B->λ    B->λ
3      C    C->λ      -       -   C->λ    C->h    C->λ

In [997]:
cond = df_1['M(V,T)'] == 'S'
df_1[cond][entrada[0]][0]

'S->ACB'

In [993]:
cond = df_1['M(V,T)'] == 'S'
df_1[cond]['d']

0    S->ACB
Name: d, dtype: object

In [991]:
df_1

  M(V,T)       b      a       d      g       h       $
0      S  S->CbB  S->Ba  S->ACB  S->Ba  S->CbB  S->ACB
1      A       -      -   A->da  A->BC   A->BC   A->BC
2      B       -   B->λ       -   B->g    B->λ    B->λ
3      C    C->λ      -       -   C->λ    C->h    C->λ

In [980]:
df_2.index.max()

0